module {{.ModulePath}}

go 1.22

require (
	github.com/gin-gonic/gin v1.10.0{{if hasAuth .AuthType}}
	github.com/golang-jwt/jwt/v5 v5.2.1{{end}}
	github.com/google/uuid v1.6.0
	github.com/prometheus/client_golang v1.20.5
	github.com/stretchr/testify v1.10.0
	github.com/testcontainers/testcontainers-go v0.33.0
	github.com/testcontainers/testcontainers-go/modules/postgres v0.33.0
	go.uber.org/zap v1.27.0
	golang.org/x/crypto v0.31.0{{if eq .Database "postgres"}}
	gorm.io/driver/postgres v1.5.11
	gorm.io/gorm v1.25.12{{end}}
)
